<html>
  <head>
      <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lobster|Molle:400i|Roboto" rel="stylesheet">
  </head>
  <body>
    <h1> Log in to MakersBnb </h1>

    <form class="main-form" method='post' action='/sessions'>
      <input type="email" name="email" placeholder="Enter your email*" required></br>
      <input type="password" name="password" placeholder="Enter your password*" required></br>
      <input class="button" type="submit" id="log-in" value="Log In">
    </form>

    <% if flash[:log_in_error] %>
      <%= flash[:log_in_error] %>
    <% end %>

  </body>
</html>
