<!DOCTYPE html>

<html>
<body>
	<h1>Listings</h1>

	<%if current_user %>
	<form action="/sessions" method="post">
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='log out'>
    </form>
	<%end%>

	<ul id='listings'>
		<% @listings.each do |listing| %>
			<li>
				<a href='/listings/<%= listing.id %>'><%= listing.name %></a>
			</li>
		<% end %>
	</ul>

</body>
</html>
