<!DOCTYPE html>

<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lobster|Molle:400i|Roboto" rel="stylesheet">

	<link rel='stylesheet' type='text/css' href='/css/style.css'>
</head>
<body>
	<h1>Add a Listing</h1>

	<form class="main-form" action="/listings/add" method="post">
		<input type="text" name="name" placeholder="Property Name*" required><br>
		<input type="text" name="description" placeholder="Description*" required><br>
		<input type="text" name="price" placeholder="Price Per Night*" required><br>
		<input type="date" name="available_from" placeholder="Available From* DD/MM/YYYY"><br>
		<input type="date" name="available_until" placeholder="Available Until* DD/MM/YYYY"><br>
		<input type="text" name="city" placeholder="City*" required><br>
		<input type="text" name="country" placeholder="Country*" required><br>
		upload photo:<br>
	  <input type="file" name="pic" accept="image/*"><br>
		<input class="button" type="submit" value="List my Property">
	</form>
</body>
</html>
