<head>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lobster|Molle:400i|Roboto" rel="stylesheet">

   <link rel='stylesheet' type='text/css' href='/css/style.css'>

</head>

<body>

  <h1> Feel at home, anywhere... </h1>
  <h2> Sign up for MakersBnb </h2>

  <form class='main-form' method="POST" action="/users">
    <input type="text" name="name" placeholder="Name*" required></br>
    <input type="email" name="email" placeholder="Email*" required></br>
    <input type="password" name="password" placeholder="Password*" required></br>
    <input type="password" name="password_confirm" placeholder="Confirm Password*" required></br>
    <input class="button" type="submit" id="submit" value="Sign Up">
</form>

<% if flash[:sign_up_error] %>
  <%= flash[:sign_up_error] %>
<% end %>

</body>
