<head>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lobster|Molle:400i|Roboto" rel="stylesheet">

  <style>

  body {
    background-color: #033649;
  }

  h1 { font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: #2dd2a8;
    margin: 0px;
  }

  h2 { font-family: 'Lobster', cursive;
    font-size: 50px;
    text-align: center;
    color: #fff;
    margin: 0px;
  }

  form.sign-up { height: 300px; width: 250px;
    border-width: 10px;
    border-color: #fff;
    background-color: #033649;
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, Verdana, sans-serif;
    padding: 20px;

  }

  input {
    color: #fff;
    padding: 5px;
    border: 2px;
    width: 220px;
    height: 25px;
    margin-bottom: 10px;
    background-color: rgba(255,255, 255, .15)

  }

  input.sign-up {
    background-color: #2dd2a8;
    padding: 5px;
    color: #ffffff;
    font-size: 20px;
    border: none;
    width: 227px; height: 50px;
  }


  label {

  }

  </style>
</head>

<body>

  <h1> Feel at home, anywhere... </h1>

  <h2> Sign up for MakersBnb </h2>

  <form class='sign-up' method="POST" action="/users">

    <!-- <label for="name">Please enter your name</label></br> -->
    <input type="text" name="name" placeholder="Name*" required></br>
    <!-- <label for="email">Please enter your email</label></br> -->
    <input type="email" name="email" placeholder="Email*" required></br>
    <!-- <label for="password">Please enter your password</label></br> -->
    <input type="password" name="password" placeholder="Password*" required></br>
    <!-- <label for="password_confirm">Please confirm your password</label></br> -->
    <input type="password" name="password_confirm" placeholder="Confirm Password*" required></br>
    <input class="sign-up" type="submit" id="submit" value="Sign Up">
</form>


</body>
