body {
  background-color: #033649;
  font-family: 'Josefin Sans', sans-serif;'
}

nav {
  background-color: #2dd2a8;
  width: 100%;
  float: left;
  list-style: none;
}

nav ul {
  list-style-type: none;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  text-decoration: none;
  padding: 5px 10px;
  color: #fff;
}

nav li a:hover {
  color: #033649;
}

/*div.parallax {
  background-image: url('/images/square_windows.jpg');
  min-height: 300px;
  background-attachment: fixed;
  background-repeat: no-repeat;
}*/

h1 { font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  color: #2dd2a8;
  margin: 0px;
}

h2 { font-family: 'Lobster', cursive;
  font-size: 50px;
  text-align: center;
  color: #fff;
  margin: 50px;
}

form.sign-up { height: 300px; width: 100%;
  border-width: 10px;
  border-color: #fff;
  background-color: #033649;
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
  font-family: Arial, Verdana, sans-serif;
  padding: 20px;

}

input {
  color: #fff;
  padding: 5px;
  border: 2px;
  width: 220px;
  height: 25px;
  margin-bottom: 10px;
  background-color: rgba(255,255, 255, .15)

}

input.sign-up {
  background-color: #2dd2a8;
  padding: 5px;
  color: #ffffff;
  font-size: 20px;
  border: none;
  width: 227px; height: 50px;
}
