body {
  background-color: #033649;
  font-family: 'Josefin Sans', sans-serif;'
}

nav {
  background-color: #2dd2a8;
  width: 100%;
  height: 50px;
  float: left;
  list-style: none;
}

nav ul {
  list-style-type: none;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  text-decoration: none;
  padding: 5px 10px;
  color: #fff;
  font-size: 20px;
}

nav li a:hover {
  color: #033649;
  font-size: 25px;
}

ul.listings {
  list-style-type: none;
}

li.listings {
  width: 300px;
  margin: 10px auto 10px auto;
}

li a {
  font-size: 22px;
  display: block;
  text-decoration: none;
  padding-left: 40px;
  color: #fff;
}

li.listings a:hover {
  font-size: 25px;
  color:  #2dd2a8;
}

div.parallax {
  background-image: url('/images/tropical-beach.jpg');
  min-height: 225px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center bottom !important
}

h1 { font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  color: #2dd2a8;
  margin: 25px auto;
}

h2 { font-family: 'Lobster', cursive;
  font-size: 50px;
  text-align: center;
  color: #fff;
  margin: 50px;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  text-align: left;
  font-size: 30px;
  color: #fff;
  margin: 0 auto;
}

div.listing-descriptions {
  width: 300px;
  margin: 10px auto 10px auto;
  padding-left: 120px;
  line-height: 1.4em;
  font-family: 'Josefin Sans', sans-serif;
  text-align: left;
  color: #2dd2a8;
}

form.main-form { height: 300px; width: 100%;
  border-width: 10px;
  border-color: #fff;
  background-color: #033649;
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
  font-family: Arial, Verdana, sans-serif;
  padding: 20px;

}

input {
  color: #fff;
  font-size: 12px;
  padding: 5px;
  border: 2px;
  width: 220px;
  height: 25px;
  margin-bottom: 10px;
  background-color: rgba(255,255, 255, .25)

}

input.button {
  background-color: #2dd2a8;
  padding: 5px;
  color: #ffffff;
  font-size: 20px;
  border: none;
  width: 227px; height: 50px;
}

input.log-in-btn {
  background-color: #2dd2a8;
  padding: 5px;
  color: #ffffff;
  font-size: 22px;
  border: none;
  width: 100px; height: 30px;

div.box_list {
  width: 500px;
  margin: 0 auto;
  padding: 10px;
  background-color: rgba(255,255, 255, .15);
  color: #ffffff;
  font-size: 18px;
}

div.listing_box_list {
  width: 500px;
  margin: 0 auto;
  padding: 10px;
  background-color: rgba(255,255, 255, .15);
  color: #ffffff;
  font-size: 18px;
}

a:link{ color: #fff; text-decoration:none }
a:visited{ color: #fff; text-decoration:none }
a:hover{ color: #fff; text-decoration:none }
a:active{ color: #fff; text-decoration:none }
