<body>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lobster|Molle:400i|Roboto" rel="stylesheet">

   <link rel='stylesheet' type='text/css' href='/css/style.css'>

  <nav>
    <ul>
      <li> <a href="/listings">Home</a></li>
      <li> <a href="/users/new">Sign up</a></li>
      <li> <a href="/listings/new">List a property</a></li>
      <li> <a href="/listings">See rentals</a></li>
    </ul>
  </nav>

  <div class="parallax"></div>

  <%if !current_user%>
    <form action="/sessions/new" method="get">
      <input type="submit" value="Log in">
    </form>
  <%end%>

  <%if current_user %>
  <form action="/sessions" method="post">
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='log out'>
    </form>
  <%end%>

</body>
