<body>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lobster|Molle:400i|Roboto" rel="stylesheet">

   <link rel='stylesheet' type='text/css' href='/css/style.css'>

  <nav>
    <ul>
      <li> <a href="/users/requests">My Account</a></li>
      <li> <a href="/listings/new">List a property</a></li>
      <li> <a href="/listings">See rentals</a></li>

      <%if !current_user%>
        <li style="float:right"><a href="/sessions/new">Log in</a></li>
        <li style="float:right"><a href="/users/new">Sign up</a></li>
      <%end%>

    </ul>
  </nav>

  <div class="parallax">

  <%if !current_user%>
    <form action="/sessions/new" method="get">
      <input class="button" type="submit" value="Log in">
    </form>
  <%end%>

  <%if current_user %>
  <form action="/sessions" method="post">
        <input type='hidden' name='_method' value='delete'>
        <input class"log-in-btn" type='submit' value='log out'>
    </form>
  <%end%>

</div>

</body>
