<!DOCTYPE html>
<html>

  <head>
   <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lobster|Molle:400i|Roboto" rel="stylesheet">

    <link rel='stylesheet' type='text/css' href='/css/style.css'>
  <head/>

  <body>

  <%= partial :flash %>
  <%= partial :header %>
  <%= yield %>

  </body>
 </html>
