<!DOCTYPE html>
<html>

<head>
<head/>

<body>
  <form action="/sessions" method="post">
    <input type='hidden' name='_method' value='delete'>
    <input type="submit" value="Log out">
  </form>

  <form action="/sessions/new" method="get">
    <input type="submit" value="Log in">
  </form>

</body>

<%= yield %>

</html>
