<head>
</head>

<body>
  <h1> Sign up for MakersBnb </h2>
  <form method="POST" action="/users">

    <label for="name">Please enter your name</label>
    <input type="text" name="name" required></br>
    <label for="email">Please enter your email</label>
    <input type="email" name="email" required></br>
    <label for="password">Please enter your password</label>
    <input type="password" name="password" required></br>
    <label for="password_confirm">Please confirm your password</label>
    <input type="password" name="password_confirm" required></br>
    <input type="submit" id="submit" value="Sign Up">
</form>


</body>
