<head>
</head>

<body>
  <form method="post" action="/users">

    <label for="name">Please enter your name</label>
    <input type="text" name="name"></br>
    <label for="email">Please enter your email</label>
    <input type="email" name="email"></br>
    <label for="password">Please enter your password</label>
    <input type="password" name="password"></br>
    <label for="password_confirm">Please confirm your password</label>
    <input type="password" name="password_confirm"></br>
    <input type="submit" id="submit">
</form>


</body>
